.landing-page {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 0px;
}

.carousel-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel__slide img {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.carousel__slide {
  position: relative;
  text-align: center;
}

.carousel__caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}

.carousel__caption-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.carousel__caption-credit {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
}

.carousel__indicators {
  text-align: center;
  margin-top: 10px;
}

.carousel__indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  margin: 5px;
  padding: 0;
  cursor: pointer;
}

.carousel__indicator.selected {
  background-color: #555;
}

.quienes-somos-section {
  background-color: var(--color-secciones);
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

.quienes-somos-content {
  max-width: 800px;
  margin: 0 auto;
}

.quienes-somos-content h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.quienes-somos-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.tabs-section {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .carousel-wrapper {
    height: auto;
  }

  .carousel__slide {
    min-height: 200px;
  }

  .carousel__slide img {
    width: 100%;
    background-color: black;
    height: 250px;
    object-fit: contain;
  }
}

.image {
  max-width: 100vh;
}

.acronis-tab,
.office-tab,
.karspersky-tab,
.outsourcing-tab {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Estilos para pantallas grandes (por ejemplo, escritorios) */
@media screen and (min-width: 768px) {
  .acronis-tab {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
      url("../../../src/assets/images/Acronis4.jpg");
  }

  .office-tab {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url("../../../src/assets/images/OFFICE\ 365.png");
  }

  .karspersky-tab {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../../../src/assets/images/Karspersky.png");
  }

  .outsourcing-tab {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../../../src/assets/images/fondotecnologia.png");
  }
}

/* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 767px) {
  .acronis-tab {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
      url("../../../src/assets/images/Acronis4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  .office-tab {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url("../../../src/assets/images/OFFICE\ 365.png");
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  .karspersky-tab {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../../../src/assets/images/Karspersky.png");
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  .outsourcing-tab {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../../../src/assets/images/fondotecnologia.png");
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  /* Ajusta el tamaño y estilo del texto para que sea legible en pantallas pequeñas */
  .acronis-tab h2,
  .office-tab h2,
  .karspersky-tab h2,
  .outsourcing-tab h2 {
    font-size: 18px;
    margin: 10px 0;
  }
}
