.carousel-section{
  margin-top: 50px;
}

.quienes-somos-section {
  background-color: var(--color-secciones);
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

.quienes-somos-content {
  max-width: 800px;
  margin: 0 auto;
}

.quienes-somos-content h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.quienes-somos-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.cards-section {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  max-width: 100vh;
}

.Card {
  border: 0px solid #e1e1e1 !important;
  border-radius: 15px !important;
  box-shadow: 10px 5px 6px rgba(0, 0, 0, 0.1) !important;
  padding: 10px 0 10;
  text-align: center!;
}

.Card .Typography {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.Card p {
  font-size: 16px;
  margin: 10px 0;
  color: #666;
}

.Card ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
  color: #666;
}

.Card li {
  font-size: 14px;
  margin: 6px 0;
}

.CardMedia {
  object-fit: cover !important;
}

@media(max-width:768px) {

.carousel-section{
  margin-top: 20%;
}
}