/* RegistroUsuario.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 10vh; /* Centra verticalmente el formulario */
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

/* Estilos para los botones */
.container button {
  width: 49%; 
  margin-right: 1%; 
}

.success {
  color: #4caf50;
  text-align: center;
  margin-top: 10px;
}

.error {
  color: #f44336;
  text-align: center;
  margin-top: 10px;
}
